*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    object-fit: cover;
    max-width: 100%;
}
body{
    width: 100%;
    height: 100%;
    flex-direction: column;
}

.descContainer{
    display: flex;
    flex: 0 0 100%;
    align-items: center;
    padding: 13% 12%;
    position: relative;
    display: none;
    height: 100%;
}
.activeSlide{
    display: flex;
}
.sliderDesc{
    display: flex;
    flex: 0 0 60%;
    flex-direction: column;
    font-size: 2rem;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
    position: relative;
}
.heroDesc{
    display: flex;
    flex: 0 0 100%;
    position: absolute;
    bottom: -30%;
}
.heroDesc .heroName{
    padding: 0 10px 0 0;
    font-size: 1.2rem;
    font-weight: bold;
    color: hsl(240, 38%, 20%);
}
.heroDesc .heroJob{
    font-size: 1.2rem;
    font-weight: bold;
    color: hsl(240, 18%, 77%);
}
.heroContainer{
    position: relative;
    display: flex;
    flex: 0 0 40%;
}
.heroContainer img{
    position: absolute;
    bottom: -300px;
    right: 16%;
    width: 110%;
    z-index: -1;
}